body {
    background: var(--color-grey-2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.user__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 180px;
}

.user__container>button {
    width: 169px;
    height: 38px;
    background-color: #ffffff14;
    border: solid 2px #ffffff14;
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-3);
    padding: 1px;
}

.user__container>button:hover {
    border: 2px solid var(--color-grey-7);
    transition: 0.6s;

}

.user-name__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.user-name__container>figure {
    width: 80px;
    height: 80px;
    border: 2px solid var(--color-brand-2);

    border-radius: 50%;
}

.user-name__container>h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.repositories__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 20px;
}

.repositories {
    box-sizing: border-box;

    width: 381px;
    height: 243px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: var(--color-grey-1);

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
}

.repositories:hover {
    border: 2px solid var(--color-grey-7);
    transition: 0.6s;
}

.repositories>h2 {
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-2);
    line-height: 24px;
}

.repositories>p {
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-3);
    line-height: var(--font-height);
    color: rgba(255, 255, 255, 0.6);
}

.repositories>button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;

    width: 93px;
    height: 28px;

    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.repositories>button:hover {
    background: #D6336C;
    border: 1px solid #D6336C;
    transition: 0.6s;
}